/*Override for bootstrap .btn */
.btn
{
    margin: 2px;
}

/* Override for bootstrap .navbar-fixed-top */
.navbar-fixed-top
{
    position: inherit;
}

.navbar .headerImg 
{
    width: 100%;
}

/* Override for all css that tries to pad the top of the page.*/
body
{
    padding-top: 0px;
}

.loading
{
    background-image: 
}