/*Override for bootstrap .btn */
.btn
{
    margin: 2px;
}

/* Override for bootstrap .navbar-fixed-top */
.navbar-fixed-top
{
    position: inherit;
}

.navbar .headerImg 
{
    width: 100%;
}

/* Override for all css that tries to pad the top of the page.*/
body
{
    padding-top: 0px;
}

.float-left-small 
{
    width: 27%;
    float: left;
}

.float-left-large 
{
    width: 67%;
    float: left;
}

.float-right-small
{
    width: 27%;
    float: right;
}

.float-right-large
{
    width: 67%;
    float: right;
}

.full
{
    width: 100%;
}