@model System.Data.DataTable

<table id="tableDetails" class="table table-bordered table-striped">
    <thead>
        <tr>
            @foreach(System.Data.DataColumn column in Model.Columns)
            {
                <th>
                    @column.ColumnName
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
            @foreach (System.Data.DataColumn column in Model.Columns)
            {
                <td>
                    @row[column]
                </td>
            }
            </tr>
        }
    </tbody>
</table>
