@model System.Data.DataTable
@{
    ViewBag.Title = Model.TableName;
}

<h2>@Model.TableName</h2>

<div id="tableDetails">
    @Html.Partial("DetailsPartial", Model);
</div>

@section Scripts{
    @Scripts.Render("~/scritps/DataTables-1.9.4/datatables-js");
    <script>
        $(document).ready(function () {
            $('#tableDetails').dataTable();
        });
    </script>
}