@model IEnumerable<EPSCoR.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!string.IsNullOrEmpty(ViewBag.UploadResult))
{
    <div id="uploadResult">
        @ViewBag.UploadResult
    </div>
}

<div id="calc">
    <h2>Calculations</h2>
    @Html.RenderPartial("CalcForm")
</div>

<div id="convertedTbls">
    <h2>Converted Tables</h2>
    @Html.RenderPartial("ConvertedTablesForm")
</div>

<select id="tableSelect">
</select>
<div id="tableDetials">
    <!-- To be filled in when user selects a table -->
</div>
