@{
    ViewBag.Title = "Cybercommons > Tables";
}

<h2>View Tables</h2>

<div id="calc" class="pull-left" style="width: 25%">
    @Html.Partial("CalcForm")
</div>

<div class="pull-right" style="width: 75%">
    <span>Select a table to view: </span>@Html.DropDownList("tableSelect", new SelectList(ViewBag.AllTables, "Name", "Name"))
    <div id="loading" class="hide">
        <img src="~/Content/images/ajax-loader.gif" />
    </div>
    <div id="tableDetailsContainer"></div>
</div>

@section Styles{
    @Styles.Render("~/content/DataTables-1.9.4/datatables-css")
}
@section Scripts
{
    @Scripts.Render("~/scritps/DataTables-1.9.4/datatables-js")
    <script>
        var loadTable = function (selectedTable) {
            $('#loading').removeClass('hide');
            $('#tableDetailsContainer').addClass('hide');
            $('#tableDetailsContainer').load("http://localhost:6615/tables/details/" + selectedTable, function () {
                initDataTable('tableDetails', selectedTable);
                $('#loading').addClass('hide');
                $('#tableDetailsContainer').removeClass('hide');
            });
        };

        $('#tableSelect').change(function () {
            var selectedTable = this.value;
            loadTable(selectedTable);
        });

        //$(document).ready(function () {
        //    var selectedTable = $('tableSelect').value;
        //    loadTable(selectedTable);
        //});
    </script>
}
