@model EPSCoR.ViewModels.TableIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="calc">
    @Html.Partial("CalcForm", Model.CalcForm)
</div>

<div id="convertedTbls">
    @Html.Partial("ConvertedTablesForm", Model.ConvertedTables)
</div>

<select id="tableSelect">
    @foreach(var table in Model.Tables)
    {
        <option>@table</option>
    }
</select>
<div id="tableDetials">
    <!-- To be filled in when user selects a table -->
</div>
