@model EPSCoR.ViewModels.TableIndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="calc" class="pull-left" style="width: 25%">
    @Html.Partial("CalcForm", Model.CalcForm)
</div>

<div class="pull-right" style="width: 75%">
    <select id="tableSelect">
    @foreach(var table in Model.Tables)
    {
        <option>@table</option>
    }
    </select>
    <div id="loading" class="hide">
        <img src="~/Content/images/ajax-loader.gif" />
    </div>
    <div id="tableDetails"></div>
</div>



@section Scripts
{
    <script>
        $('#tableSelect').change(function () {
            var selectedTable = this.value;
            $('#loading').removeClass('hide');
            $('#tableDetails').addClass('hide');
            $('#tableDetails').load("http://localhost:6615/tables/details/" + selectedTable, function () {
                $('#loading').addClass('hide');
                $('#tableDetails').removeClass('hide');
            });
        });
    </script>
}
