@{
    ViewBag.Title = "Status";
}

<h2>Status</h2>

<div id="status">
    <h3>Processing</h3>
    @{
        object notProcessedTables = ViewBag.NotProcessedTables;
        Html.RenderPartial("StatusPartial", notProcessedTables);    
    }

    <h3>Processed</h3>
    @{
        object processedTables = ViewBag.ProcessedTables;
        Html.RenderPartial("StatusPartial", processedTables);
    }
</div>

@section Scripts
{
    <script>
        setInterval(function () {
            window.location.reload(true);
        }, 60000);
    </script>
}