@model IEnumerable<EPSCoR.Database.Models.TableIndex>
@{
    ViewBag.Title = "Status";
}

<h2>Status</h2>

<div id="status">
    @Html.Partial("StatusPartial", Model)
</div>

@section Scripts
{
    <script>
       (function($) {
           $.fn.poll = function (url) {
               var interval = 10000; //10 secs
               setInterval(function () {
                   $(this).load(url);
               }, interval);
           };
       })(jQuery);
       $('#status').poll("http://localhost:6615/Tables/Status");
    </script>
}