@model EPSCoR.Database.Models.TablePairIndex
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div id ="jquery-wrapped-fine-uploader"></div>

@Styles.Render("~/Content/fineuploader")
@section Scripts {
    <script src=@Scripts.Url("~/bundles/fineuploader")></script>
    <script>
        $(document).ready(function () {
            $('#jquery-wrapped-fine-uploader').fineUploader({
              request: {
                endpoint: 'Table/Upload'
              }
            });
        });
    </script>
}
