@model EPSCoR.Database.Models.TablePairIndex
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div id ="jquery-wrapped-fine-uploader"></div>

@Scripts.Render("~/bundles/fineuploader")
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#jquery-wrapped-fine-uploader').fineUploader({
              request: {
                endpoint: 'Table/Upload'
              }
            });
        });
    </script>
}
