<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MySqlConnection" 
         connectionString="server=localhost;User Id=root;Persist Security Info=True;database=cybercomm;password=KsUwI1dC4tS!;DefaultCommandTimeout=0;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <casClientConfig
    casServerLoginUrl="https://cas.cis.ksu.edu/login"
    casServerUrlPrefix="https://cas.cis.ksu.edu/"
    serverName="http://daedalus.beocat.cis.ksu.edu/"
    notAuthorizedUrl="~/NotAuthorized.aspx"
    cookiesRequiredUrl="~/CookiesRequired.aspx"
    redirectAfterValidation="true"
    gateway="false"
    renew="false"
    singleSignOut="true"
    ticketTimeTolerance="5000"
    ticketValidatorName="Cas10"
    serviceTicketManager="CacheServiceTicketManager"
    gatewayStatusCookieName="CasGatewayStatus"
    xdt:Transform="Replace"/>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>