@{
    ViewBag.Title = "Cybercommons > Upload Data";
}

<h3>The How To Page</h3>

<p>
	<pre>
        Step 1 : 
	</pre>
    <span class="center">
        First @Html.ActionLink("Upload Tables", "Upload", "Files") in .csv (comma delimited) format using the username "ftpuser" and its password
	</span>
	<pre>
        Step 2 : 
	</pre>
    <span class="center">
        After uploading your tables, you will be sent to a submission page where you can view the  progress of your upload as it is added to the database.
    </span>
	<pre>
        Step 3 :
	</pre>
    <span id="center">
        After your file conversions are complete, select your loaded Attribute and Field tables (based on filename of uploaded files) as well as the calculations you'd like to do. Submit your calculations.
    </span>
	<span class="center">
         *** At this point you should be sent back to a submission page where you can see the  <a href='view_subs.php'>progress</a> of your calculation. Once finished you will have the option to preview or download the results in .csv format ***</center></h5>
	</span>
</p>