@{
    ViewBag.Title = "Cybercommons > Upload Data";
}

<h3>The How To Page</h3>

<ol>
    <li>
        <p>Navigate to the @Html.ActionLink("upload", "Upload", "Files", null, null) page.</p>
    </li>
    <li>
        <p>Click "Select files" to select files to upload. Currently only csv files are supported. Also, make suret that the first first line of the file is a "header" in that it describes each column in the table.</p>
    </li>
    <li>
        <p>Once you have selected the files you want to upload, click "Upload" to begin uploading files to the server. Currently, upload pausing/resuming is not suported, so do not navigate away from this page while hte upload is in progress. If you need to cancel an upload, just click "Cancel underneath the item you want to cancel.</p>
    </li>
    <li>
        <p>Once the file has been upload you should see "File uploaded" for the status of that item. To see the progress on adding the file to the database you can check the @Html.ActionLink("status", "Status", "Tables", null, null) page.</p>
    </li>
</ol>