<li>@Html.ActionLink("Table Indexes", "Index", "TableIndex", null, null)</li>
<li>@Html.ActionLink("Users", "Index", "UserProfile", null, null)</li>
<li>@Html.ActionLink("Tasks", "Index", "Task", null, null)</li>
