@if (Request.IsAuthenticated) {
    <text>
        <ul class="nav">
            
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
                {
                    @Html.AntiForgeryToken()
                }
            </li>
        </ul>
    </text>
} else {
    <ul class="nav">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}