<div id="dialog-calc" title="Generate Table" class="container hide">
    <p>Please select the following</p>
    @using (Html.BeginForm("Calc", "Tables", FormMethod.Post, new { id="calcForm", @class = "editform" }))
    {    
        <label>Attribute Table:</label>
        <select id="attTable" name="attTable"></select>
        <br />
        
        <label>Upstream Table:</label>
        <select id="usTable" name="usTable"></select>
        <br />
    
        <label>Calculation:</label>
        <select id="calc" name="calc">
            <option>SUM</option>
            <option>AVG</option>
        </select>
        <br />
        
        <button onclick="javascript: submitCalcTable();" type="button" class="btn btn-success pull-right">Submit</button>
    }

    <script>
        function submitCalcTable() {
            var attTable = $('#attTable').val(),
                usTable = $('#usTable').val(),
                calcType = $('#calc').val(),
                tableHub = $.connection.tableHub;

            tableHub.server.submitCalcTable(attTable, usTable, calcType);

            $('#dialog-calc').dialog('close');
        }
    </script>
</div>