@{
    ViewBag.Title = "Upload Files";
}

<div class="container">
    <h2>Upload Tables</h2>

    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Select files...</span>
        <!-- Use this input to enable directories. Only supported in google chrome. -->
        <!--<input id="fileupload" type="file" name="files[]" multiple directory webkitdirectory mozdirectory>-->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <span id="btnUpload" class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        Upload files
    </span>
    <br>
    <!-- The container for the uploaded files -->
    <div id="files"></div>
    <small class="pull-right">Powered by <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">jQuery File Upload</a></small>
</div>

@section Styles {
    @Styles.Render("~/content/jQueryFileUpload/fileUpload-css")
}
@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @Scripts.Render("~/scripts/JavaScriptTemplates/main")
    @Scripts.Render("~/scripts/jqueryfileupload/fileUpload-js")

    <script type="text/x-tmpl" id="uploadTmpl">
        <div class="alert alert-info">
            <button type="button" class="close hidden" data-dismiss="alert">X</button>
            <span>{%=o.FileName%}</span>
            <br>
            <span class="status">Ready to upload</span>
            <div class="progress progress-success">
                <div class="bar"></div>
            </div>
            <button class="btn btn-warning">Cancel</button>
        </div>
    </script>
}
