@model IEnumerable<EPSCoR.Database.Models.TableIndex>
@{
    ViewBag.Title = "EPSCoR Data Processing Tool";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    @Html.Partial("~/Views/2.0/_navbar.cshtml")
</div>

<div id="alerts" class="container">
    <noscript class="alert alert-error">
        This site requires javascript to function. If javascript is disabled, please enabled it.
    </noscript>
    @Html.Partial("_alerts")
</div>
                
<div id="tables" class="container"> 
    @Html.Partial("~/Views/2.0/_tables.cshtml", Model)
</div>

<div class="footer container">
    <p>&copy; Kansas State University @System.DateTime.Now.ToString("yyyy")</p>
</div>


