@{
    ViewBag.Title = "About";
}

<div id="dialog-about" title="About">
    <div id="nav">
        <ul class="nav nav-tabs">
            <li><a href="javascript:showDiv('About')">About</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">HowTo <b class="caret"></b></a>
            
                <ul class="dropdown-menu">
                    <li><a href="javascript:showDiv('HowToExport')">How to export</a></li>
                    <li><a href="javascript:showDiv('HowToUpload')">How to upload</a></li>
                </ul>
            </li>
            <li><a href="javascript:showDiv('Plugins')">Plugins</a></li>
        </ul>
    </div>

    <div id="content" class="container">
        <div id="About" class="">
            <h2>EPSCoR Data Processing Tool</h2>
        </div>

        <div id="HowToExport" class="hide">
            <h2>How to export your database from Microsoft Access</h2>

	        <pre> Step 1: </pre>
	        <p>
                First, open up your associated .accdb database file in Microsoft 
	            Access 2007 or newer, and look for the tables section on the 
	            left side (default)
            </p>
	        <img src="~/Content/images/howto/step1.jpg" alt="Step 1" height="429" width="391" />
	        <pre> Step 2: </pre>
	        <p>
	            Right click on the database table you'd like to upload, select "Export", and then select "Text File"
	        </p>
            <img src="~/Content/images/howto/step2.jpg" alt="Step 2" height="429" width="570" />
            <pre> Step 3: </pre>
            <p>
	            At the output filename prompt, type in the name of your output file (the table name is a good name) and change the
	            .txt filetype to .csv
                <em>*** NOTE ***</em>
                When naming files, it is necessary for you to ensure proper operation by ending all upstream filenames
	            with "_US" before the .csv filetype. Otherwise your uploaded table will be assumed as an attribute table i.e. 
	            if your attribute filename is CC.csv then your upstream filename would be CC_US.csv
            </p>
            <img src="~/Content/images/howto/step3.jpg" alt="Step 3" height="429" width="576" />
	        <pre> Step 4: </pre>
	        <p>
	            After clicking OK, make sure in the next pane that the "Delimited" radio button is selected, and then press Next.
	        </p>
            <img src="~/Content/images/howto/step4.jpg" alt="Step 4" height="429" width="570" />
            <pre> Step 5: </pre>
	        <p>
	            In the next window make sure that the "Comma" radio button is selected, and that the check box next to 
	            "Include Field Names on First Row" is ckecked. Click Next.
	        </p>
            <img src="~/Content/images/howto/step5.jpg") alt="Step 5" height="429" width="570" />
            <pre> Step 6 </pre>
	        <p>
	            At the last step, check to see that your export file is named correctly and that it has the .csv extension. Click
	            finish and let Access do its job. Once you have exported all the table files you'd like to upload you can proceed
	            to the upload stage.
	        </p>
            <img src="~/Content/images/howto/step6.jpg" alt="Step 6" height="429" width="570" />
	        <div class="">
	            @Html.ActionLink("Go to Upload How To", "HowToUpload", "About")
                <br />
	            @Html.ActionLink("Skip to Upload", "Upload", "Files")
	        </div>
        </div>

        <div id="HowToUpload" class="hide">
            <h3>The How To Page</h3>

            <ol>
                <li>
                    <p>Navigate to the @Html.ActionLink("upload", "Upload", "Files", null, null) page.</p>
                </li>
                <li>
                    <p>Click "Select files" to select files to upload. Currently only csv files are supported. Also, make suret that the first first line of the file is a "header" in that it describes each column in the table.</p>
                </li>
                <li>
                    <p>Once you have selected the files you want to upload, click "Upload" to begin uploading files to the server. Currently, upload pausing/resuming is not suported, so do not navigate away from this page while hte upload is in progress. If you need to cancel an upload, just click "Cancel underneath the item you want to cancel.</p>
                </li>
                <li>
                    <p>Once the file has been upload you should see "File uploaded" for the status of that item. To see the progress on adding the file to the database you can check the @Html.ActionLink("status", "Status", "Tables", null, null) page.</p>
                </li>
            </ol>
        </div>

        <div id="Plugins" class="hide">
            <h2>Plugins</h2>
            <ul>
                <li><a href="http://blueimp.github.io/JavaScript-Templates/">JavaScript Templates</a></li>
                <li><a href="http://signalr.net/">SignalR</a></li>
                <li><a href="http://www.datatables.net/">DataTables</a></li>
                <li><a href="http://twitter.github.io/bootstrap/">Bootstrap</a></li>
                <li><a href="http://blueimp.github.io/jQuery-File-Upload/">jQuery File Upload</a></li>
            </ul>
        </div>
    </div>

    <script>
        //Hides all divs within content then displays the div with the given id.
        function showDiv(divid) {
            $('#content div').hide(200);
            $('#' + divid).show(200);
        };
    </script>
</div>