@{
    ViewBag.Title = "CIS Cybercommons > Home";
}

<h1 class="title">Welcome!</h1>
<h2 class="title">This is the Cybercommons data processing tool.</h2>

<p>Get started by @Html.ActionLink("uploading", "Upload", "Files", null, null) tables or @Html.ActionLink("view", "Index", "Tables", null, null) tables you have already uploaded.</p>