<div id="dialog-uploadFiles" title="Upload Files" class="container hide">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Select files...</span>
        <!-- Use this input to enable directories. Only supported in google chrome. -->
        <!--<input id="fileupload" type="file" name="files[]" multiple directory webkitdirectory mozdirectory>-->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <span id="btnUpload" class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        Upload files
    </span>
    <br>
    <!-- The container for the uploaded files -->
    <div id="files"></div>
    <small class="pull-right">Powered by <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">jQuery File Upload</a></small>

    <script type="text/x-tmpl" id="uploadTmpl">
        <div class="alert alert-info">
            <button type="button" class="close hidden" data-dismiss="alert">x</button>
            <span>{%=o.name%}</span>
            <br>
            <span class="status">Processing...</span>
            <div class="progress progress-success">
                <div class="bar"></div>
            </div>
            <div id="btns">
            </div>
        </div>
    </script>
</div>
